body {
                background-image: url(https://getwallpapers.com/wallpaper/full/a/8/e/485736.jpg);
            }
            h1 {
                color:honeydew;
                text-align:center;
                font-family:monospace;
            }
            h2 {
                color:honeydew;
                text-align:center;
                font-family: sans-serif;
            }
            p{
                color: honeydew;
                text-align: justify;
                font-family: sans-serif;
            }
            h3{
                color: goldenrod;
               
                font-size: 56px;
                text-align: center;
                text-decoration:underline;

            }
            a{
                text-align: center;
                
            }