body {
                background-image:url(../pics/pink\ bone\ background.jpg);
            }
            *{text-align: center;}
            h1 {
                color:pink;
                
                font-family:monospace;
            }
            h2 {
                color:cornflowerblue;
                
                font-family: sans-serif;
            }

            
            #para3{
                color: pink;
            }
            p{
                
                
                font-family: sans-serif;
            }
            h3{
                color: lemonchiffon;
               
                font-size: 56px;
              
                text-decoration:dotted;

            }
            a{
                color:coral;
                
                font-size: 20px;
               
            }
            img{
                max-width: 100%;
            }
           p.small{
            font-size: 10px;
           }
           article{
            margin:auto;
            background-image: url(../pics/yellow.png);
            text-align: center;
            width: 80%;
            padding: 15px

           }
           header{
            background-color:cornflowerblue; padding: 15; text-align: center;
            
           }
